@font-face {
    font-family: 'fonte';
    src: url('CSS/Pixeboy.ttf') format('truetype');
}

@font-face {
    font-family: 'socorro';
    src: url('CSS/SGT-Jhon-O.ttf') format('truetype');

}

@font-face {
    font-family: 'gamer';
    src: url('CSS/GameOnlineDemoRegular.ttf') format('truetype');
}

@font-face{
    font-family: 'manga';
    src: url('CSS/BoldPixels1.4.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(67, 63, 71);
}

h1 a {
    font-family: 'fonte';
    font-size: 4rem;
    color: rgb(204, 224, 224);
    text-decoration: none;
    text-shadow: 5px 5px 4px black;
}



header {
      background-image: linear-gradient(to right, #4c3553, #442735, #573963);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

nav {

    width: 100%;
      background-image: linear-gradient(to right,  #351b3a, #331f2e, #392141 );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    font-size: 1.2rem;
    font-family: 'socorro';
    padding: 15px 15px;
    color: rgb(197, 197, 197);
    text-decoration: none;
    transition: transform 0.3s ease;
    font-weight: 200;
}

nav a:hover {


    color: rgb(24, 20, 26);
    transform: scale(1.1);
}


.testando {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 50px;
    margin-top: 30px;
}

.testando>div  {
    flex: 1.1 200px;
    margin: 20px;
}

div img {
    width: 100%;
}

p {
   
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: justify;
    color: aliceblue;
    margin: 5px;
    padding: 20px;
}

h2 {
    font-size: 3rem;
    font-family: 'manga';
    color: rgb(20, 18, 20);
    margin: 5px;
    padding: 20px;

}

.coisa {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 50px;
    margin-top: 0 auto;
}

.coisa> .item {
    flex: 1.1 290px;
    margin: 20px;
    background-image: linear-gradient(to right, #442f4ee7, #2e2233cc) ;
    padding: 20px;
    border-radius: 20px;
    transition: .35s;
    cursor: pointer;
   

}

.coisa:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

.coisa div a {
    margin-top: 40px;
    margin: 40px;
    
    padding: 20px 70px 20px 70px;
    text-decoration: none;
    color: rgb(22, 12, 14);
    font-size: 1.7rem;
    font-family: 'gamer';
    text-align: center;
}

.titulo {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3{
    text-align: center;
    font-size: 1.9rem;
    color: aliceblue;
    margin-bottom: 10px;
    font-family: 'socorro';

}


h4{
    font-size: 3rem;
    font-family: 'gamer';
    text-align: center;
    margin-top: 60px;
    color: rgb(187, 187, 187);
    text-shadow: 3px 3px 5px black;
}



div.opacidade {
    height: auto;
    position: relative;
    background-image: linear-gradient(transparent, black);
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
 
}





footer {
    display: flex;
    width: 100%;
         background-image: linear-gradient(to right, #2b1b30, #442735, #2b1d31);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

small {
    font-size: 1rem;
    color: rgb(152, 151, 151);
}

.sociais {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: auto;/
}

.sociais p {
    color: rgb(152, 151, 151);
    white-space: nowrap;
}

.sociais a {
    transition: transform 0.3s ease;

}

.sociais a:hover {
    transform: scale(1.1);
}



footer .sociais img {
    width: 40px;
    height: auto;
    object-fit: contain;

}

